<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Ativos</title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="alinha-centro">
            <img src="{% static 'img/hermes-logo.png' %}">
            <h1>Lista de Ativos</h1>
        </div>
        <table align="center">
            <tr>
                <th>Código do ativo</th>
                <th>Empresa</th>
                <th>Status</th>
                <th>Opções</th>
            </tr>
            {% for ativo in ativos %}
            <tr>
                <td>{{ ativo }}</td>
                <td>{{ ativo.empresa }}</td>
                <td>Não<br>Monitorado</td>
                <td>
                    <a class="botao" href="{% url 'obter_cotacao' ativo.id %}"><button class="cotacao">Cotação Atual</button></a>
                    <br>
                    <a href="{% url 'obter_cotacao' ativo.id %}"><button class="config">Configurações</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>