table, th, td {
    border: 3px solid;
    border-color: #777777;
    align-items: center;
}

body {
    align-items: center;
}

.alinha-centro{
    text-align: center;
}

button.cotacao {
    padding: 1px;
    background-color: greenyellow;
    color: black;
}

button.cotacao:hover {
    background-color: black;
    color: greenyellow;
}

button.config {
    background-color:aquamarine;
    color: black;
}

button.config:hover {
    background-color:black;
    color:aquamarine;
}

a.botao{
    padding: 1px;
}